@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  margin: 2rem auto;
  max-width: 10000px;
  width: 100%;
}

h1,
li {
  font-size: large;
  font-weight: 400;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0 2rem;
}

ul {
  display: flex;
  gap: 10px;
}

hr {
  margin-bottom: 6rem;
}

/*/////////////////////////////////////// fancy typography /////////////////////////////////////*/
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  gap: 2.5rem;
}

.title span {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  letter-spacing: -1px;
  line-height: 100%;
}

.title {
  --duration: 1s;
}

.style1 {
  --delay: 0.8s;
}

.style2 {
  --delay: 1s;
}

.style3 {
  --delay: 1.2s;
}

.title span {
  --total: calc(var(--duration) + var(--delay));
  position: relative;
  display: block;
  color: transparent;
  overflow: hidden;
  animation: reveal 1s var(--total) forwards;
}
.title span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%; */
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  background-color: #4831d4;
  animation: rollIn var(--duration) var(--delay) forwards,
    rollOut var(--duration) var(--total) forwards;
}
.title span:nth-child(2)::after {
  border-top: 3px solid #4831d4;
}
@keyframes reveal {
  to {
    color: black;
  }
}
@keyframes rollIn {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes rollOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(105%);
  }
}

article {
  text-align: center;
  max-width: 45rem;
  margin: auto;
}

article p {
  font-size: 1.4rem;
}

button {
  border: 1px solid transparent;
  max-width: max-content;
  margin: auto;
  padding: 0.8rem 4rem;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  background-color: #ccf381;
  /* #4831D4 */
}

button:hover {
  background-color: #c4ff4e;
  /* opacity: 0.6; */
  transition: 0.3s;
}
